<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xi.mapper.PersonMapper">

    <!--<resultMap type="com.jie0.store.model.City" id="CityResult">-->
        <!--<result column="FID" javaType="int" jdbcType="INTEGER" property="id"/>-->
        <!--<result column="FNAME" javaType="string" jdbcType="VARCHAR" property="name"/>-->
        <!--<result column="FPROVINCEID" javaType="int" jdbcType="INTEGER" property="provinceId"/>-->
        <!--<result column="FCODE" javaType="string" jdbcType="VARCHAR" property="code"/>-->
        <!--<result column="FORDER" javaType="int" jdbcType="INTEGER" property="order"/>-->
    <!--</resultMap>-->


    <select id="getPersonList" resultType="Person">
        SELECT  * FROM person WHERE NAME = "阿喜"
    </select>

</mapper>